body{
	margin: 0;
	padding: 0;
	font-family: "Times New Romes";
}

.four-items{
	padding-top: 50px;
	padding-left: 100px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	font-size: 20px;
}
.four-items div{
	display: flex;
	flex-wrap: wrap;
	flex: auto;
}
.four-items div>div{
	width: 120px;
	height: 200px;
	margin-right: 25px;
}
.four-items span{
	font-size: 15px;
	color: grey;
	margin-top: -65px;
}

.right #out{
	position: absolute; top: 439.5mm; right: 0; z-index: 0; width: 105mm; height: 100mm;
}
.right #in{
	position: absolute; top: 445mm; right: 0; z-index: 1; width: 96mm; height: 90mm;
}
.down{
	display: flex;
	flex: auto;
	flex-direction: row;
	align-content: space-between;
	padding-top: 100px;
	justify-content: center;
	text-align: center;
}

.row >div{
	text-align: left;
	margin-left: 50px;
	padding-right: 20px;
	padding-top: 50px;
	color: grey;
}

.pic img{
	width: 110mm;
	height: 80mm;
}

.pic .ig{
	opacity: 0;
	width: 110mm;
	height: 80mm;
	background-color: rgba(0,0,0,.65);
	text-align: center;
	color: #fff;
}

.ig h3{
	margin-top: 30mm;
}

.pic .ig:hover{
	opacity: 1;
}

.con-form input, .con-form button, textarea{
	display: block;
	width: 90mm;
	height: 15mm;
	border-radius: 10px;
	border: #ddd 1px solid;
	margin: 0 auto;
	margin-top: 30px;
}
textarea{
	height: 30mm;
}
.con-form button{
	background-color: black;
	color: #fff;
}
.contact div{
	margin-top: 30px;
}
.contact img{
	float: left;
	padding-right: 15px;
}

.info{
	flex-direction: row;
	flex: auto;
	flex-wrap: wrap;
	color: #fff;
	justify-content: center;
}
.info div{
	width: 25%;
}

.info p{
	color: grey;
}
.info a{
	text-decoration: none; color: inherit;
}